@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Paytone One', sans-serif;
  background-color: var(--main-bg);
}

:root {
  --main-bg: #fffcf2;
  --main-color: #252422;
  --orange: #eb5e28;
  --soft-orange: #f1794a;
  --grey: #403d39;
  --silver: #ccc5b9;
  --purple: #6665dd;
  --soft-purple: #7c7bdee7;
}

header {
  display: flex;
  width: 40%;
  margin: auto;
  text-align: center;
  color: var(--orange);
  align-items: center;
  font-size: 3em;
  justify-content: space-evenly;
}

footer {
  text-align: center;
  color: var(--orange);
  font-size: 1.3rem;
  padding: 2rem;
}

main {
  width: 40%;
  margin: auto;
  background-color: var(--silver);

  font-size: 1.5rem;
  color: var(--main-color);
  flex: 1;
  border: var(--main-color) solid 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  padding: 2rem;
  box-shadow: 16px 10px var(--main-color);
}

header h1 {
  font-size: 1.5em;
  margin-top: 10px;
}

.new-quest h2 {
  font-size: 1.8rem;
}

.ending-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
}
.ending-form input {
  margin: 10px;
  font-size: 1rem;
}
.ending-form label {
  font-weight: bold;
}
.ending-form input,
label {
  height: 40px;
  width: 300px;
}

button.btn {
  font-size: 1.3rem;
}

.btn {
  width: 140px;
  height: 50px;
  cursor: pointer;
  color: var(--main-color);
  background-color: var(--orange);
  font-family: 'Paytone One', sans-serif;
  font-size: 1rem;
  border: var(--main-color) solid 3px;
  box-shadow: 5px 6px var(--main-color);
}

.btn:hover {
  background-color: var(--soft-orange);
}
.btn-yes {
  background-color: #28a745;
}
.btn-yes:hover {
  background-color: #4ec069;
}
.btn-no {
  background-color: #ff0018;
}

.btn-add-guess {
  background-color: var(--orange);
  width: 250px;
  color: var(--main-bg);
}

.lamp {
  width: 5rem;
  transform: translateY(-30%);
}

.new-game-btn {
  display: block;
  margin: auto;
  background-color: var(--purple);
}

.new-game-btn:hover {
  background-color: var(--soft-purple);
}
.win-lamp {
  margin-top: 2rem;
  width: 10rem;
  transform: rotateY(-180deg);
}

.btn-clicked {
  animation-name: btn-click;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
}
.win-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@keyframes btn-click {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(3px);
  }
}

@media screen and (max-width: 650px) {
  .lamp {
    display: none;
  }
  body {
    background-color: var(--main-color);
  }
  header {
    width: 80%;
    margin: auto;
    font-size: 1.9rem;
  }
  main {
    border: none;
    box-shadow: none;
    background-color: var(--main-color);
    color: var(--main-bg);

    width: 70%;
    font-size: 1rem;
  }
  button.btn {
    font-size: 1rem;
  }
  .btn {
    color: var(--main-bg);
    border: var(--main-bg) solid 1px;
    box-shadow: 2px 3px var(--main-bg);
  }
  .btn-no,
  .btn-yes {
    width: 100px;
    margin-left: 6px;
  }

  .win-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
  }
  .new-game-btn {
    order: 1;
  }
}
